<!-- <% if @wish.errors.any? %>
  <ul>
    <% @wish.errors.full_messages.each do |error_msg| %>
    <li><%= error_msg %></li>
    <% end %>
  </ul>
  <% end %> -->
<br>
<div class="row margin-none">

  <!-- form start -->
  <%= form_for [@user, @wish], html: {multipart:true} do |f| %>
  <div class="input-panel row margin-none">
    <div class="row wish-title">
      <div class="input-field col s8">
        <%= f.text_field :title, placeholder: "Nombre del deseo*" %>
        <%= f.label :title, "title", class: "margin-left-none" %>
      </div>
      <div class="input-field file-field col s3 relative" id="add-image">
        <div class="button_with_save_icon add-image-button">
          <i class="material-icons">add_a_photo</i>
          <div class="row">
            <input class="file-path" type="text" disabled>
          </div>
          <%= f.file_field :image %>
        </div>
        <% if @wish.image %>
        <%= image_tag @wish.image.url(:thumb) %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="input-field input-panel row">
    <%= f.text_area :description, placeholder: "Descripción", class:"materialize-textarea", length:300 %>
    <%= f.label :description %>
  </div>

  <div class="input-field input-panel row">
    <%= f.text_field :link%>
    <%= f.label :link %>
  </div>
  <div class="input-field input-panel row">
    <%= f.text_field :price %>
    <%= f.label :price %>
  </div>
  <div class="input-panel row">
    <div class="filled-in fav" id="filled-in-box" checked="checked">
      <% unless @user != current_user %>
      <%= f.check_box :favorite, class:"wish-check" %>
      <!-- <%= f.label :favorite, raw("&#11088") %> -->
      <%= f.label :favorite , image_tag("http://emojipedia-us.s3.amazonaws.com/cache/12/3d/123d40d4b642994adc6cbdd2c4ed1b73.png") %>
      <% end %>
    </div>

    <div class="filled-in public" id="filled-in-box" checked="checked">
      <%= f.check_box :public, class:"wish-check" %>
      <!-- <%= f.label :public, raw("&#127873") %> -->
      <%= f.label :public , image_tag("http://emojipedia-us.s3.amazonaws.com/cache/3e/a7/3ea7e8a6e273da1515819a1e94b4dbcb.png") %>
    </div>

    <div class="filled-in locked" id="filled-in-box" checked="checked">
      <% unless @user == current_user %>
      <%= f.check_box :locked, class:"wish-check" %>
      <%= f.label :public , image_tag("http://emojipedia-us.s3.amazonaws.com/cache/08/a9/08a98c8c9a1040ae760bc1031a4bf9e9.png") %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%= f.submit "Actualizar", class:"btn-large btn-expanded" %>
  </div>
  <% end %>
</div>
