<div class="create-edit-wish">
<% if @wish.errors.any? %>
  <ul>
    <% @wish.errors.full_messages.each do |error_msg| %>
      <li><%= error_msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for [@user, @wish], html: {multipart:true} do |f| %>
<h2 class="h5">Nombre del deseo</h2>
<div class="title-image">

  <%= f.text_field :title, placeholder: "Nombre del deseo*", class:"title" %>


  <%= f.file_field :image, class:"btn-floating" do %>
  <i class="material-icons">add</i>
  <% end %>

</div>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br><br>
  <%= f.label :link %>
  <%= f.text_field :link %>
  <br><br>
  <%= f.label :price %>
  <%= f.text_field :price %> €
  <br><br>
  <%= f.label :public %>
  <%= f.check_box :public %>
  <br><br>
  <%= f.label :locked %>
  <%= f.check_box :locked %>
  <br><br>
  <div class="filled-in" id="filled-in-box" checked="checked">
  <%= f.label :favorite %>
  <%= f.check_box :favorite %>
  </div>
  <br><br>

  <%= f.submit class:"waves-effect waves-light btn btn-success" %>

  <%= link_to 'Cancel', user_wishes_path(@user), class:"waves-effect waves-teal btn-flat" %>
<% end %>
</div>
