
<% if @wish.errors.any? %>
  <ul>
    <% @wish.errors.full_messages.each do |error_msg| %>
      <li><%= error_msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@user, @wish], html: {multipart:true} do |f| %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <br><br>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br><br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br><br>
  <%= f.label :link %>
  <%= f.text_field :link %>
  <br><br>
  <%= f.label :price %>
  <%= f.text_field :price %> €
  <br><br>
  <%= f.label :public %>
  <%= f.check_box :public %>
  <br><br>
  <%= f.label :locked %>
  <%= f.check_box :locked %>
  <br><br>
  <%= f.label :favorite %>
  <%= f.check_box :favorite %>
  <br><br>
  <%= f.button %>
  <%= link_to 'Cancel', user_wishes_path(@user) %>
<% end %>
