<div class="content">
  <%= link_to image_tag(@user.avatar.url(:thumb), class: "avatar-lg"), profile_path(current_user) %>
  <div class="home-self-feed-head">
    <div class="flex-vertical-center">
      <h2 class="h5">
        <b><%= @user.name %></b>
      </h2>
    </div>
    <div class="flex-vertical-center">
      <h2 class="h4 flex-vertical-center"><%= @user.wishes.length %>
        deseos</h2>
    </div>
  </div>

  <section class="wrapper">
    <div class="masonry">
      <% @wishes.each do |wish| %>
      <article class="item">
        <div class="wish-img-user">
          <%= link_to image_tag(wish.image.url(:medium)), user_wish_path(@user, wish) %>
        </div>
        <h3 class="h5"><%= wish.title %></h3>
        <% if wish.favorite? %>
        <img class="fav-mini" src="http://emojipedia-us.s3.amazonaws.com/cache/12/3d/123d40d4b642994adc6cbdd2c4ed1b73.png"/>
        <% end %>
        <% unless @user == current_user %>
          <% if wish.locked? %>
          <img class="fav-mini" src="http://emojipedia-us.s3.amazonaws.com/cache/08/a9/08a98c8c9a1040ae760bc1031a4bf9e9.png"/>
          <% else %>
          <img class="fav-mini" src="http://emojipedia-us.s3.amazonaws.com/cache/30/0a/300ab8f972b71e33e42e27c67dc7e7a8.png"/>
          <% end %>
        <% end %>
        <% unless @user != current_user %>
          <% if wish.public? %>
          <img class="fav-mini" src="http://emojipedia-us.s3.amazonaws.com/cache/3e/a7/3ea7e8a6e273da1515819a1e94b4dbcb.png"/>
          <% end %>
        <% end %>
      </li>
    </article>
    <% end %>
  </div>
</section>

<% unless @user != current_user %>
<a>
  <%= link_to new_user_wish_path(@user, @wish), class:"btn-floating btn-large waves-effect waves-light orange" do%>
  <i class="material-icons">add</i>
  <% end %>
</a>
<% end %>

<div class="btn-friend-section">
  <div class="user-friend">
    <% unless @user != current_user %>
    <%= link_to "Ver tu perfil", profile_path(current_user), class:"waves-effect waves-light btn" %>
  <% else %>
    <%= link_to "Ver perfil #{@user.name}", user_path(@user), class:"waves-effect waves-light btn" %>
    <% end %>
  </div>

  <% unless @user == current_user %>
  <% @followed = Following.find_by(user_id: current_user.id, follow_id: @user.id) %>

  <% unless @followed == nil %>
  <div class="user-unfollow">
    <%= link_to "Dejar de seguir #{@user.name}", user_nofollow_path(current_user, @user), method: :post, class:"waves-effect waves-light btn red" %>
  </div>
<% else %>
  <div class="user-follow">
    <%= link_to "Seguir a #{@user.name}", user_follow_path(current_user, @user), method: :post, class:"waves-effect waves-light btn green" %>
  </div>
  <% end %>
  <% end %>

</div>
</div>
