<h1>WishrBox de <%= @user.name %></h1>
<%= image_tag @user.avatar.url(:thumb) %>
<hr>
<ul>
<% @wishes.each do |wish| %>
  <li>
    <%= link_to image_tag(wish.image.url(:thumb)), user_wish_path(@user, wish) %>
    <%= wish.title %>
    <% if wish.favorite? %>
      &#11088
    <% end %>
    <% if wish.locked? %>
      &#128274
    <% else %>
        &#128275
    <% end %>
  </li>
  <br><br>
  <% end %>

    <%= link_to 'Añadir deseo >> ', new_user_wish_path(@user, @wish) %><br><br>
    <%= link_to 'Ver perfil usuario >> ', profile_path(@user) %><br><br>
    <%= link_to "Seguir a #{@user.name}>> ", user_follow_path(current_user, @user), method: :post %>
</ul>
