<h1><%= @user.name %> wishes </h1>
<hr>
<ul>
<% @wishes.each do |wish| %>
  <li>
    Title: <%= wish.title %> |
    Description: <%= wish.description %> |
    Url: <a href ="<% wish.link %>"><%= wish.link  %></a> |
    Price: <%= wish.price %> €
    <%= link_to 'Ver deseo >> ', "/users/#{@user.id}/wishes/#{wish.id}/" %>
  </li>
  <br><br>
  <% end %>

    <%= link_to 'Añadir deseo >> ', new_user_wish_path(@user, @wish) %><br><br>
    <%= link_to 'Ver perfil usuario >> ', profile_path(@user) %>
</ul>
