<%= image_tag @user.avatar.url(:thumb) %>
<h1><%= @user.name %> wishes </h1>
<hr>
<ul>
<% @wishes.each do |wish| %>
  <li>
    <%= link_to image_tag(wish.image.url(:thumb)), user_wish_path(@user, wish) %>
    <%= wish.title %>
    <% if wish.favorite? %>
      &#11088
    <% end %>
    <% if wish.locked? %>
      &#128274
    <% else %>
        &#128275
    <% end %>
  </li>
  <br><br>
  <% end %>

    <%= link_to 'Añadir deseo >> ', new_user_wish_path(@user, @wish) %><br><br>
    <%= link_to 'Ver perfil usuario >> ', profile_path(@user) %>
</ul>
