<div class="content">
  <div class="row center-align wish-detail">
    <div class="user-wish-img valign-wrapper">
      <%= image_tag @wish.image.url(:medium), class: "valign center-align"%>
      <div class="user-wish-favorite">
        <% if @wish.favorite? %>
          <h3>&#11088</h3>
        <% end %>
      </div>
      <div class="user-wish-locked">
        <% if @user == current_user %>
          <% if @wish.locked? %>
            <h3>&#128274</h3>
          <% else %>
            <h3>&#128275</h3>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if @wish.title.present? %>
      <h2 class="h4"><b><%= @wish.title %></h2></b>
    <% end %>
  <div class="user-wish-link">
    <% if @wish.link.present? %>
    <a href="<%= @wish.link %>" target="blank"><i class="material-icons md-36">link</i></a><br>
    <% end %>
  </div>
  <div class="user-wish-description">
    <% if @wish.description.present? %>
      <h3 class="h5"><%= @wish.description %></h3>
    <% end %>
  </div>

  <div class="user-wish-price">
    <% if @wish.price.present? %>
      <h3 class="h5"><%= @wish.price %> €</h3>
    <% end %>
  </div>




<% if @user == current_user %>
  <button class="waves-effect waves-light btn"><%= link_to 'Editar', "/users/#{@user.id}/wishes/#{@wish.id}/edit" %></button>
<%= link_to('Eliminar >>', user_wish_path(@user, @wish),
      method: :delete, data: { confirm: 'Are you sure to delete?' }) %>
      <% end %><br><br>
    </div>
  </div>
</div>
