<div class="content">
  <div class="row center-align wish-detail">
    <div class="user-wish-img valign-wrapper">
      <%= image_tag @wish.image.url(:medium), class: "valign center-align"%>
      <div class="user-wish-favorite">
        <% if @wish.favorite? %>
        <img class="fav-mini" src="http://emojipedia-us.s3.amazonaws.com/cache/12/3d/123d40d4b642994adc6cbdd2c4ed1b73.png"/>
        <% end %>
      </div>
      <div class="user-wish-locked">
        <% if @user != current_user %>
        <% if @wish.locked? %>
        <img class="fav-mini" src="http://emojipedia-us.s3.amazonaws.com/cache/08/a9/08a98c8c9a1040ae760bc1031a4bf9e9.png"/>
      <% else %>
        <img class="fav-mini" src="http://emojipedia-us.s3.amazonaws.com/cache/30/0a/300ab8f972b71e33e42e27c67dc7e7a8.png"/>
        <% end %>
        <% end %>
      </div>
    </div>

    <% if @wish.title.present? %>
    <h2 class="h4">
      <b><%= @wish.title %></h2>
    </b>
    <% end %>
    <div class="user-wish-link">
      <% if @wish.link.present? %>
      <a href="<%= @wish.link %>" target="blank">
        <i class="material-icons md-36">link</i>
      </a><br>
      <% end %>
    </div>
    <div class="user-wish-description valign-wrapper">
      <% if @wish.description.present? %>
      <h3 class="h5"><%= @wish.description %></h3>
      <% end %>
    </div>

    <div class="user-wish-price">
      <% if @wish.price.present? %>
      <h3 class="h5"><%= @wish.price %>
        €</h3>
      <% end %>
    </div>

    <%= form_for [@user, @wish], html: {multipart:true} do |f| %>

    <div class="filled-in fav" id="filled-in-box" checked="checked">
      <% unless @user == current_user %>
      <%= f.check_box :locked, class:"wish-check" %>
      <%= f.label :locked , image_tag("http://emojipedia-us.s3.amazonaws.com/cache/08/a9/08a98c8c9a1040ae760bc1031a4bf9e9.png") %>

      <% end %>
    </div>

    <% if @user != current_user %>
    <% if @wish.locked? %>
      <div class="row">
        <%= f.submit "Desbloquear deseo", class:"btn-large btn-expanded" %>
      </div>
      <% else %>
      <div class="row">
        <%= f.submit "Bloquear deseo", class:"btn-large btn-expanded" %>
      </div>
      <% end %>
      <% end %>

    <!-- <% end %> -->


    <% if @user == current_user %>
    <div class="col s12 m10 l8 offset-m1 offset-l2">
      <%= link_to 'Editar', "/users/#{@user.id}/wishes/#{@wish.id}/edit", class:"btn-large btn-expanded edit" %>
    </div>
    <% end %><br><br>

  </div>
</div>
</div>
