<div class= "content sign-up">
  <div class="logo">
    <img src="/images/logo/logo.png">
  </div>


  <div class="fields">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  <div class="col s12">
    <div class="field input-field field-white">
      <%= f.label :name, 'Nombre' %>
      <%= f.text_field :name, autofocus: true %>

    </div>

    <div class="field input-field field-white">
      <%= f.label :email, 'Email' %>
      <%= f.email_field :email, autofocus: true %>

    </div>

    <div class="field input-field field-white">
      <% if @minimum_password_length %>
      <em> <br/>(<%= @minimum_password_length %> caracteres mínimo)</em>
      <% end %>
      <%= f.label :password, 'Contraseña' %>
      <%= f.password_field :password, autocomplete: "off" %>

    </div>

    <div class="field input-field field-white">
      <%= f.label :password, 'Repite contraseña' %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>


      <%= f.submit "Regístrate", class: "btn-large btn-expanded white" %>

  <% end %><br>

  <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
