<div class= "content sign-up">
  <div class="logo">
    <img src="/images/logo/logo.png">
  </div>

  <div class="fields">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  <div class="col s12">
    <div class="field">

      <%= f.text_field :name, placeholder: "Usuario", autofocus: true %>
    </div>

    <div class="field">

      <%= f.email_field :email, placeholder: "Email", autofocus: true %>
    </div>

    <div class="field">

      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
      <% end %>
      <%= f.password_field :password, placeholder: "Contraseña", autocomplete: "off" %>
    </div>

    <div class="field">

      <%= f.password_field :password_confirmation, placeholder: "Confirma contraseña", autocomplete: "off" %>
    </div>

    <div class="actions waves-effect waves-light btn white">
      <%= f.submit "Regístrate" %>
    </div>
  <% end %><br>

  <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
