<h1>Edit user to <%=@user.name %></h1>
<hr>
<%= link_to "<< Atrás", request.referer.present? ? request.referer : default_path %>
<%= form_for @user, html: {multipart: true} do |f| %>
  <%= f.label :avatar %>
  <%= f.file_field :avatar %>
  <br><br>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :birthday %>
  <%= f.date_field :birthday %>
  <br><br>
  <%= f.label :preferences %>
  <%= f.text_area :preferences %>
  <br><br>
  <%= f.button %>
  <%= link_to 'Cancel', profile_path(@user) %>
<% end %>
<br>
<%= link_to 'My WishrBox', user_wishes_path(@user) %>
