<h2>Hello <%= current_user.name %>!</h2>
<%= image_tag @user.avatar.url(:thumb) %>
<p>
<strong>Email:</strong> <%= current_user.email %>
</p>
<ul>
  <li>Nombre:
    <% if current_user.name.present? %>
      <%= current_user.name %>
    <% end %>
  </li>
  <li>Cumpleaños:
    <% if current_user.birthday.present? %>
      <%= current_user.birthday.strftime("%d-%m-%Y") %>
    <% end %>
  </li>
  <li>Preferencias:
    <% if current_user.preferences.present? %>
      <%= current_user.preferences %>
    <% end %>
  </li>
  <br><br>
  <%= link_to 'Editar perfil>> ', edit_user_path(current_user) %><br>
  <%= link_to 'Mi WishrBox >> ', user_wishes_path(@user) %>
</ul>
