<p>Página users/show, dirigir a profile</p>
<!-- <h1><%= @user.name %></h1>
<hr>
<h2>User ID :<%= @user.id.to_s %></h2>
  <% if @user.preferences.present? %>
    <p><%= @user.preferences %></p>
  <% end %>
<a href="/users">Back to users page</a>
<br>
<a href="/users/<%= @user.id %>/wishes">Mi WishrBox></a>


<ul>
  <li>Nombre:
    <% if @user.name.present? %>
      <%= @user.name %>
    <% end %>
  </li>
  <li>Cumpleaños:
    <% if @user.birthday.present? %>
      <%= @user.birthday.strftime("%d-%m-%Y") %>
    <% end %>
  </li>
  <li>Preferencias:
    <% if @user.preferences.present? %>
      <%= @user.preferences %>
    <% end %>
  </li>
  <%= link_to 'Editar >> ', edit_user_path(current_user) %><br>
</ul> -->
