<h1><%= @user.name %></h1>
<hr>
<%= link_to "<< Atrás", request.referer.present? ? request.referer : default_path %><br>
<%= image_tag @user.avatar.url(:thumb) %>
<ul>
  <li>Nombre:
    <% if @user.name.present? %>
      <%= @user.name %>
    <% end %>
  </li>
  <li>Cumpleaños:
    <% if @user.birthday.present? %>
      <%= @user.birthday.strftime("%d-%m-%Y") %>
    <% end %>
  </li>
  <li>Preferencias:
    <% if @user.preferences.present? %>
      <%= @user.preferences %>
    <% end %>
  </li>
</ul>
<%= link_to "Deseos de #{@user.name}>> ", user_wishes_path(@user) %>
<br>
<%= link_to 'Mi WishrBox >> ', user_wishes_path(current_user) %>
<br>
<%= link_to 'Inicio >> ', root_path(@user) %>
