

<div class="content sign-up">
  <div class="logo">
    <img src="/images/logo/logo.png">
  </div>
  <div class ="fields">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="col s12">
      <div class="field">

        <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña" %>
      </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field ">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, 'Recordar contraseña', class: "remember-me" %>
      </div>
    <% end -%>

    <div class="actions waves-effect waves-light btn white">
      <%= f.submit "Log in" %>
    </div>
  <% end %>


  <%= render "devise/shared/links" %>
</div>
</div>
</div>
